@import "tailwindcss";

@theme {
  --font-primary: "Rubik", serif;
  --font-secondary: "Poppins", serif;
  --color-primary: rgb(25, 179, 231);
  --color-primary-100: rgba(25, 179, 231, 0.5);
  --color-secondary: rgb(17, 40, 74);
  --color-secondary-100: rgba(25, 179, 231, 0.4);
  --color-accent: rgb(255, 255, 255);
  --color-background: rgb(15, 15, 15);
  --color-border-color: rgb(65, 65, 65);
  --color-box-shadow-color: rgb(0, 0, 0);
  --color-btn-shadow-color: rgb(0 141 189);
  --color-btn-shadow-hover-color: rgba(14 50 103 1);
  --shadow-box-style: 1px 1px 5px 2px rgb(0 0 0 / 0.1);
  --shadow-btn-style: 2px 2px 0px 2px rgb(0 0 0 / 0.1);
  --color-card: rgb(25, 25, 25);
  --color-cta: rgb(0, 122, 255);
  --color-cta-active: rgb(0, 102, 215);
  --color-cta-text: rgb(255, 255, 255);
  --color-cta-active: rgb(0, 226, 30);
}

.light-mode {
  --color-secondary: rgb(25, 179, 231);
  --color-primary: rgb(17, 40, 74);
  --color-primary-100: rgba(66, 23, 223, 0.4);
  --color-accent: rgb(0, 0, 0);
  --color-background: rgb(255, 255, 255);
  --color-box-shadow-color: rgba(3, 185, 252, 0.904);
  --color-btn-shadow-color: rgb(30, 77, 148);
  --color-card: rgb(255, 255, 255);
}

.red-mode {
  --color-primary: rgb(255, 255, 255);
  --color-primary-100: rgba(78, 0, 0, 0.4);
  --color-secondary: rgb(255, 255, 255);
  --color-accent: rgb(255, 255, 255);
  --color-background: rgb(78, 0, 0);
  --color-box-shadow-color: rgba(211, 211, 211, 0.904);
  --color-btn-shadow-color: rgba(51, 2, 2, 0.575);
  --color-card: rgba(128, 3, 3, 0.623);
  --color-cta-text: rgb(0, 0, 0);
}
